* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

.game {
  position: relative;
  margin: auto;
  overflow: hidden;
  background-color: rgb(88, 88, 88);
}

.taxi {
  position: absolute;
  background-image: url("./images/AutoYellow.png");
  background-size: cover;
  z-index: 1;
}

.auto-lane {
  background-size: cover;
}

.auto-wrapper-first {
  position: absolute;
  width: inherit;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.auto-wrapper-second {
  position: absolute;
  width: inherit;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.auto-wrapper-first__auto-six,
.auto-wrapper-second__auto-six {
  grid-column: 1 / 2;
}
.auto-wrapper-first__auto-five,
.auto-wrapper-second__auto-five {
  grid-column: 2 / 3;
}
.auto-wrapper-first__auto-four,
.auto-wrapper-second__auto-four {
  grid-column: 3 / 4;
}
.auto-wrapper-first__auto-three,
.auto-wrapper-second__auto-three {
  grid-column: 4 / 5;
}
.auto-wrapper-first__auto-two,
.auto-wrapper-second__auto-two {
  grid-column: 5 / 6;
}
.auto-wrapper-first__auto-one,
.auto-wrapper-second__auto-one {
  grid-column: 6 / 7;
}

.roadside-strip {
  position: absolute;
}

.roadside-strip__left {
  left: 0;
}
.roadside-strip__right {
  right: 0;
}

.roadstrips {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: inherit;
  height: inherit;
}
